.main-container {
    margin: 6px
}

.main-container form {
    display: flex;
    height: 30px;
}

.main-container form input {
    width: 260px;
    font-size: 17px;
    border: 1px solid black;
    margin-right: 3px;
    border-radius: 3px;
}

.main-container form button {
    font-size: 12px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    margin-left: 3px;
    background-color: #FDB44E;
}

.main-container form button:hover {
    background-color: #de9d43;
}

.main-container p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0px;
}